.content {
  
  blockquote {
    border-left: 0;
    background-color: $primary-accent;
    color: $white;
    font-weight: 700;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3), 0 5px 20px rgba(0, 0, 0, 0.2);
  }
  
}